{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <section id="main">
        <h1>.todo(list)</h1>
        <h2>{{ headline }}</h2>
        <div class="form-container">
            <form method="post">
                <input type="text" name="task" id="task" placeholder="Task" value="{% if task_val %}{{ task_val }}{% endif %}" required><br>
                <textarea name="description" id="description" maxlength="255" cols="30" rows="5" placeholder="Description" required>{% if desc_val %}{{ desc_val }}{% endif %}</textarea><br>
                <input type="submit" class="submit" value="{{ button }}">
            </form>
        </div>
    </section>
    {% if id %}
    <a href="{{ url_for('delete', id=id) }}"><button class="button" id="delete">.delete()</button></a>
    {% endif %}
    <a href="{{ url_for('index') }}"><button class="button" id="cancel">.cancel()</button></a>

{% endblock %}